@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');

div#app {
    margin-bottom: 200px;
}

.heading {
    text-align: center;
    border-bottom: 1px solid #aa877c;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 5px;
    padding-bottom: 20px;

    .heading1 {
        font-family: Merriweather;
        font-style: italic;
        color: #8c5220;
        font-size: 38px;
        margin: 0;
        display: block;
    }
    
    .heading2 {
        font-family: Merriweather;
        font-style: italic;
        color: #8c5220;
        font-size: 30px;
        margin: 0;
        display: block;
    }
    
    .blurb {
        font-style: italic;
        color: #e38433;
        display: block;
        font-weight: 700;
    }
}

main {
    width: 700px;
    margin: 0 auto;

    @media (min-width: 1400px) {
        &.fullWidth {
            width: 1400px;

            h1 {
                text-align: center;            
            }
        }

        .column {
            display: inline-block;
            width: 700px;
            padding: 0 40px;
            box-sizing: border-box;
            vertical-align: top;
        }
    }
}

.sidebyside {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    padding: 0 10px;
}

img.profile {
    width: 300px;
    display: inline-block;
}

ul.menu {
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;

    li {
        color: #e3b5bd;
        font-size: 34px;

        a {
            font-family: sans-serif;    
            font-size: 20px;
            display: inline-block;
            padding-bottom: 20px;
        }
    }
}

p, ul li {
    font-family: sans-serif;
}

h1, h2 {
    font-family: Merriweather;
    color: #8c5220;
}

h2 {
    border-bottom: 1px solid #e8d0bc;
}

em {
    font-weight: 700;
    font-style: italic;
}

.quote {
    margin-bottom: 40px;
    display: block;

    p {
        border-left: 1px solid #e8d0bc;
        padding-left: 20px;
        margin-left: 5px;
    }

    label {
        font-style: italic;
        color: #c8742c;
        display: block;
    }
}

.horiz-nav {
    display: block;
    text-align: center;
    font-family: sans-serif;
}

tr {
    font-family: sans-serif;

    &:nth-child(even) {
        background-color: #eceedd;
    }

    th {
        width: 260px;
        text-align: left;
        font-size: 16px;
        vertical-align: top;
        
    }
    
    td {
        width: 400px;
        vertical-align: top;
        padding-bottom: 20px;
    }
}


a:hover {
    background-color: #eee;
}

form {
    font-family: sans-serif;

    fieldset {
        border: none;
        padding: 10px 0;

        label {
            width: 100px;
            display: inline-block;
            vertical-align: top;
        }

        input, textarea {
            width: 200px;
            padding: 5px;
            vertical-align: top;
        }

        textarea {
            height: 150px;
        }
    }

    button {
        width: 100%;
        font-size: 14px;
        padding: 5px;
        cursor: pointer;
    }
}