@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

div#app {
    margin-bottom: 200px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../public/img/tea-time-3240766_1920.jpg");
    background-attachment:fixed;
    
}

.heading {
    text-align: center;
    border-bottom: 1px solid #aa877c;
    background-color: #fcf9fd;
    margin: 0 auto;
    margin-bottom: 5px;
    padding-bottom: 20px;

    .heading1 {
        font-family: Merriweather;
        font-style: italic;
        color: #8c5220;
        font-size: 38px;
        margin: 0;
        display: block;
    }
    
    .heading2 {
        font-family: Merriweather;
        font-style: italic;
        color: #8c5220;
        font-size: 30px;
        margin: 0;
        display: block;
    }
    
    .blurb {
        font-style: italic;
        color: #e38433;
        display: block;
        font-weight: 700;
        font-size: 22px;
    }
}

main {
    width: 800px;
    margin: 0 auto;
    background-color: #ffffffee;
    padding: 40px;

    @media (min-width: 1600px) {
        &.fullWidth {
            width: 1600px;

            h1 {
                text-align: center;            
            }
        }

        .column {
            display: inline-block;
            width: 800px;
            padding: 0 40px;
            box-sizing: border-box;
            vertical-align: top;
        }
    }

    @media (max-width: 900px) {
        width: 100%;
        box-sizing: border-box;
    }
}

.sidebyside {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    padding: 0 10px;

    @media (max-width: 640px) {
        width: 100%;
        display: block;
    }
}

img.profile {
    width: 300px;
    display: inline-block;
}



p.step {
    margin-left: 0px;
    padding-left: 10px;
    border-left: 1px solid #aa877c;

    &::before {
        position: absolute;
        margin-left: -30px;
        font-weight: 700;
    }

    &.one::before {
        content: "1";
    }

    &.two::before {
        content: "2";
    }

    &.three::before {
        content: "3";
    }
}

ul.menu {
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;

    li {
        color: #e3b5bd;
        font-size: 34px;

        a {
            font-family: sans-serif;    
            font-size: 20px;
            display: inline-block;
            padding-bottom: 20px;
        }
    }
}

p, ul li {
    font-family: "Open Sans";
    color: #6b6143;
    font-size: 18px;
}

a {
    font-family: "Open Sans";
}

h1, h2 {
    font-family: Merriweather;
    color: #ce9e75;
}

h2 {
    border-bottom: 1px solid #e8d0bc;
}

em {
    font-weight: 700;
    font-style: italic;
}

.quote {
    margin-bottom: 40px;
    display: block;

    p {
        border-left: 1px solid #e8d0bc;
        padding-left: 20px;
        margin-left: 5px;
    }

    label {
        font-style: italic;
        color: #c8742c;
        display: block;
    }
}

.horiz-nav {
    display: block;
    text-align: center;
    font-family: sans-serif;
}

tr {
    font-family: "Open Sans";
    color: #6b6143;
    font-size: 18px;

    &:nth-child(even) {
        background-color: #eceedd;
    }

    th {
        width: 260px;
        text-align: left;
        font-size: 16px;
        vertical-align: top;
        
    }
    
    td {
        width: 400px;
        vertical-align: top;
        padding-bottom: 20px;
    }
}


a:hover {
    background-color: #eee;
}

form {
    font-family: "Open Sans";
    color: #6b6143;
    font-size: 18px;

    fieldset {
        border: none;
        padding: 10px 0;

        label {
            width: 120px;
            display: inline-block;
            vertical-align: top;
        }

        input, textarea {
            width: 240px;
            padding: 5px;
            vertical-align: top;
        }

        textarea {
            height: 150px;
        }
    }

    button {
        width: 100%;
        font-size: 14px;
        padding: 5px;
        cursor: pointer;
    }

    .sent {
        width: 100%;
        font-size: 16px;
        padding: 5px;
        border: 1px solid #115f12;
        background-color: #23c123;
        border-radius: 2px;
        text-align: center;
        color: #daffdd;
    }

    .sending {
        width: 100%;
        font-size: 16px;
        padding: 5px;
        border: 1px solid #5f5011;
        background-color: #c1a323;
        border-radius: 2px;
        text-align: center;
        color: #fffde4;
    }
}